<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-button color="light" fill="clear" slot="end" (click)="presentAlert()">
      <ion-icon slot="icon-only" name="wallet"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <!-- <ion-searchbar placeholder="Search Location" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar> -->
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-button (click)="openPrebook()" expand="full">
    Pre-Book
  </ion-button>
  <capacitor-google-map id="map"></capacitor-google-map>


  <div style="position:absolute; height: auto; width: 300px; border: 2px solid black; top: 65%; left: 10px;">
   <p *ngFor="let item of slots" [ngStyle]="{color: item.color}" > <span style="height:50px; width: 50px; background:black ;"> I </span> {{item.name}} </p>
  </div>


   
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openStartChargingPage()">
    <ion-icon name="qr-code"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
