
.Input{
    border: 1px solid #1EC283;
    border-radius: 7px;
    margin-top: 6%;
    padding: 1%;
    margin: 5%;
  }
  .Nat{
    text-align: center;
    margin-top: 3%;
    color: #ffff;
  }
  .Nat a{
    
    color: #ffff;
  }
  // .footer{
  //     background-color: #FBAD36;
  //     color: #ffffff;
  // }
  
  .back{
    background-color: #000 !important;
  }
  .img-wrapper{
    justify-content: center;
    display: flex;
  
  }
  .img{
    width: 100px;
    height: auto;
    margin-top: 10%;
  }
  .text_img{
    // margin-top: -26px;
    width: 150px;
    margin-bottom: 1%;
  
  }
  .Register h1{
    font-weight: bold;
    font-size: 30px;
  }
  .Main{
    margin-top: 13%;
  }